[DEFAULT]
# Ban for one hour
bantime = 3600

# Email settings
destemail = {{ notification_email }}
mta = sendmail

# Include log info in emails
action = %(action_mwl)s

[sshd]
enable = true
port = {{ ssh_port }}
logpath = %(sshd_log)s

